[submodule "baselines/BoT-SORT"]
	path = baselines/BoT-SORT
	url = https://github.com/NirAharon/BoT-SORT.git
[submodule "baselines/YOLOX"]
	path = baselines/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX.git
[submodule "baselines/TrackEval"]
	path = baselines/TrackEval
	url = https://github.com/JonathonLuiten/TrackEval.git
